<div class="password-change-form">
  <%= semantic_form_for [:admin, resource], url: change_password_admin_user_path(resource), method: :patch do |f| %>
    <%= f.inputs do %>
      <%= f.input :current_password, label: '目前密碼' if resource == current_user %>
      <%= f.input :password, label: '新密碼' %>
      <%= f.input :password_confirmation, label: '確認新密碼' %>
    <% end %>

    <%= f.actions do %>
      <%= f.action :submit, label: '更新密碼' %>
      <%= f.action :cancel, label: '取消' %>
    <% end %>

    <% if resource.errors.any? %>
      <div class="errors">
        <h2><%= pluralize(resource.errors.count, "error") %></h2>
        <ul>
          <% resource.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>
</div>
